In [1]:
consumer_key = 'C9ERJFuM5AXfQDqckvSqKhYHA'

consumer_secret = 'v8Z3qp0VL603RCWQ61OTGyVJitCd7anfDfNQZhjEQZwk5GxXHw'

access_token = '1480449941948428292-oiLU9UWYvhLMxILQpNVxEsl5yv0B6r'

access_token_secret = 'ls5TKloZWZONXe5CeO3mjpb6DimNCQz921TTLyujMoBLG'

In [1]:
import tweepy
import pandas as pd
import re

In [3]:
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)   
auth.set_access_token(access_token, access_token_secret) 
  
# Creating an API object 
api = tweepy.API(auth)

In [4]:
count=200
tweets = tweepy.Cursor(api.search_tweets, q="#Vaccine", lang='en').items(count)
data=[]
for tweet in tweets:
    data.append([tweet.user.screen_name,tweet.text])

In [2]:
df=pd.DataFrame(data,columns=['Username','Tweet'])
df.to_csv('Vaccine.csv')

NameError: name 'data' is not defined

In [2]:
data= pd.read_csv("Vaccine.csv")

In [3]:
data.head()

,Unnamed: 0,Username,Tweet
0,0,the404code,RT @CivatiSocial: Check out this article in my...
1,1,ANILTYAGI77,RT @DSSNewsUpdates: Covid Vaccination Camp fol...
2,2,HubBucketHealth,RT @UN_News_Centre: The top @WHO official in E...
3,3,PrameyaEnglish,#Update on #COVID19 #Vaccine Availability in S...
4,4,ANILTYAGI77,RT @DSSNewsUpdates: Vaccination Camp by volunt...

In [4]:
import codecs,string
def is_hindi(character):
    maxchar = max(character)
    if u'\u0900' <= maxchar <= u'\u097f':
        return True
    else:
      return False

In [5]:
is_hindi(data)

False

In [6]:
#to remove urls, mentions and tags in the tweet
data.Tweet= data.Tweet.replace('(?:\@|https?\://)\S+', '', regex=True)
data.Tweet= data.Tweet.replace('RT', '', regex=True)

In [7]:
data.drop('Unnamed: 0', axis=1, inplace=True)

In [8]:
data.head()

          Username                                              Tweet
0       the404code    Check out this article in my series: Brillia...
1      ANILTYAGI77    Covid Vaccination Camp following the pious t...
2  HubBucketHealth    The top  official in Europe and Central Asia...
3   PrameyaEnglish  #Update on #COVID19 #Vaccine Availability in S...
4      ANILTYAGI77    Vaccination Camp by volunteers following the...

In [9]:
data.shape

(200, 2)

In [10]:
data.Tweet = data['Tweet'].str.lower()

In [11]:
data.Tweet

0        check out this article in my series: brillia...
1        covid vaccination camp following the pious t...
2        the top  official in europe and central asia...
3      #update on #covid19 #vaccine availability in s...
4        vaccination camp by volunteers following the...
                             ...
195      on  tennis' #vaccine refusenik #djokovic sai...
196    l anyone who has volunteered for the experimen...
197    the idea to get #omicron instead of a #vaccine...
198    the new #hiv #variant is as new as the #covid1...
199      in response to  guidance,  says counting #va...
Name: Tweet, Length: 200, dtype: object

In [25]:
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import PorterStemmer
from nltk import pos_tag

In [13]:
for i in range(len(data)):
    data.Tweet[i]=nltk.word_tokenize(data.Tweet[i])

In [14]:
stopwords= set(stopwords.words('english'))

In [15]:
stopwords

{'a',
 'about',
 'above',
 'after',
 'again',
 'against',
 'ain',
 'all',
 'am',
 'an',
 'and',
 'any',
 'are',
 'aren',
 "aren't",
 'as',
 'at',
 'be',
 'because',
 'been',
 'before',
 'being',
 'below',
 'between',
 'both',
 'but',
 'by',
 'can',
 'couldn',
 "couldn't",
 'd',
 'did',
 'didn',
 "didn't",
 'do',
 'does',
 'doesn',
 "doesn't",
 'doing',
 'don',
 "don't",
 'down',
 'during',
 'each',
 'few',
 'for',
 'from',
 'further',
 'had',
 'hadn',
 "hadn't",
 'has',
 'hasn',
 "hasn't",
 'have',
 'haven',
 "haven't",
 'having',
 'he',
 'her',
 'here',
 'hers',
 'herself',
 'him',
 'himself',
 'his',
 'how',
 'i',
 'if',
 'in',
 'into',
 'is',
 'isn',
 "isn't",
 'it',
 "it's",
 'its',
 'itself',
 'just',
 'll',
 'm',
 'ma',
 'me',
 'mightn',
 "mightn't",
 'more',
 'most',
 'mustn',
 "mustn't",
 'my',
 'myself',
 'needn',
 "needn't",
 'no',
 'nor',
 'not',
 'now',
 'o',
 'of',
 'off',
 'on',
 'once',
 'only',
 'or',
 'other',
 'our',
 'ours',
 'ourselves',
 'out',
 'over',
 'own',
 're',
 's',
 'same',
 'shan',
 "shan't",
 'she',
 "she's",
 'should',
 "should've",
 'shouldn',
 "shouldn't",
 'so',
 'some',
 'such',
 't',
 'than',
 'that',
 "that'll",
 'the',
 'their',
 'theirs',
 'them',
 'themselves',
 'then',
 'there',
 'these',
 'they',
 'this',
 'those',
 'through',
 'to',
 'too',
 'under',
 'until',
 'up',
 've',
 'very',
 'was',
 'wasn',
 "wasn't",
 'we',
 'were',
 'weren',
 "weren't",
 'what',
 'when',
 'where',
 'which',
 'while',
 'who',
 'whom',
 'why',
 'will',
 'with',
 'won',
 "won't",
 'wouldn',
 "wouldn't",
 'y',
 'you',
 "you'd",
 "you'll",
 "you're",
 "you've",
 'your',
 'yours',
 'yourself',
 'yourselves'}

In [16]:
ps= PorterStemmer()

In [17]:
for i in range(len(data)):
    data.Tweet[i]= [word for word in data.Tweet[i] if not word in stopwords ]

In [21]:
data.Tweet = data.Tweet.apply(lambda word:[ ps.stem(i) for i in word])

In [23]:
data.head()

          Username                                              Tweet
0       the404code  [check, articl, seri, :, brilliant, ai, -, ai,...
1      ANILTYAGI77  [covid, vaccin, camp, follow, piou, teach, sai...
2  HubBucketHealth  [top, offici, europ, central, asia, 's, call, ...
3   PrameyaEnglish  [#, updat, #, covid19, #, vaccin, avail, state...
4      ANILTYAGI77  [vaccin, camp, volunt, follow, piou, teach, sa...

In [30]:
pos_string=[]
for i in range(len(data)):
    pos_string= pos_tag(data['Tweet'][i])

In [32]:
pos_string

[('respons', 'NNS'),
 ('guidanc', 'NN'),
 (',', ','),
 ('say', 'VBP'),
 ('count', 'NN'),
 ('#', '#'),
 ('vaccin', 'NN'),
 ('donat', 'NN'),
 ('aid', 'NN'),
 ('immor', 'NN'),
 ('&', 'CC'),
 ('amp', 'NN'),
 (';', ':'),
 ('’', 'CC'),
 ('high', 'JJ'),
 ('chance…', 'NN')]